<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="colorlvl" 
                  converterClass="net.wagstrom.logging.logbackAddOns.AnsiColorConverter" /> 

  <!-- default console appender, with coloring -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss} [%thread] %-5colorlvl %logger{36} %file:%line - %msg%n</pattern>
      </layout>
    </encoder>
  </appender>
   
  <!-- file appender -->
 <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>github.log</file>
    <append>false</append>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} %file:%line - %msg%n</pattern>
      </layout>
    </encoder>
  </appender>

  <logger name="net.wagstrom.research.github.BlueprintsDriver" level="INFO"/>
  <logger name="net.wagstrom.research.github.ApiThrottle" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
